Qn1

In [1]:
def value(a,b,c):
   integers=[a,b,c]
   sort=sorted(integers)
   return sort[1]

num1= int(input("enter 1st number"))
num2= int(input("enter 2nd number"))
num3= int(input("enter 3rd number"))

middle_value=value(num1,num2,num3)
print("middle value is: ",middle_value)

enter 1st number10
enter 2nd number77
enter 3rd number27
middle value is:  27

Qn2

In [2]:
import math
def screen():
  print("chooce the operation")
  print("1. add")
  print("1. sustract")
  print("1. multiply")
  print("1. divide")
  print("1. modules")

  choice=input("Enter your choice (1/2/3/4/5): ")
  num1 = float(input("Enter first number: "))
  num2 = float(input("Enter second number: "))

  if choice=='1':
     print("result: ",num1+num2)

  elif choice=='2':
     print("result: ",num1-num2)

  elif choice=='3':
     print("result: ",num1*num2)

  elif choice=='2':
     print("result: ",num1/num2)

  elif choice=='2':
     print("result: ",num1%num2)

  else:
     print("Invalid input")

screen()

chooce the operation
1. add
1. sustract
1. multiply
1. divide
1. modules
Enter your choice (1/2/3/4/5): 1
Enter first number: 27
Enter second number: 27
result:  54.0

Qn3

In [3]:
def hypotenuse(l,b):
   h= (l ** 2 + b ** 2) ** 0.5
   return h

side1 = float(input("Enter the length of the first shorter side: "))
side2 = float(input("Enter the length of the second shorter side: "))
result= hypotenuse(side1,side2)
print("hypotenuse is : ",result)

Enter the length of the first shorter side: 10
Enter the length of the second shorter side: 15
hypotenuse is :  18.027756377319946

Qn4

In [5]:
#a.

class rectangle:
  def __init__(self,length,width):
    self.length=length
    self.width=width

#b.

  def calulate_perimeter(self):
      return 2*(self.length + self.width)

  def calulate_area(self):
      return self.length*self.width


rect_angle=rectangle(7,10)

area=rect_angle.calulate_area()
perimeter=rect_angle.calulate_perimeter()


#c.

def display():
   print(f"Length: {rect_angle.length}")
   print(f"width: {rect_angle.width}")
   print(f"perimeter: {perimeter}")
   print(f"area: {area}")

display()

Length: 7
width: 10
perimeter: 34
area: 70

Qn5

In [9]:
#a.
class BankAccount:

#b.
    def __init__(self, accountNumber, name, balance):
        self.accountNumber = accountNumber
        self.name = name
        self.balance = balance
#c.
    def deposit(self, amount):
        if amount > 0:
            self.balance += amount
            print(f"Deposit of ${amount} successful.")
        else:
            print("Deposit amount should be greater than zero.")
#d.
    def withdrawal(self, amount):
        if amount > 0 and amount <= self.balance:
            self.balance -= amount
            print(f"Withdrawal of ${amount} successful.")
        else:
            print("Withdrawal amount should be greater than zero and less than or equal to the balance.")
#e.
    def bankFees(self):
        fees = self.balance * 0.05
        self.balance -= fees
        print(f"Bank fees of 5% applied. ${fees} deducted from the account.")
#f.
    def display(self):
        print(f"Account Number: {self.accountNumber}")
        print(f"Account Holder Name: {self.name}")
        print(f"Balance: ${self.balance}")

acc = BankAccount(7777, "Noble", 2000)

acc.display()

acc.deposit(1000)
acc.display()

acc.withdrawal(270)
acc.display()

acc.bankFees()
acc.display()

Account Number: 7777
Account Holder Name: Noble
Balance: $2000
Deposit of $1000 successful.
Account Number: 7777
Account Holder Name: Noble
Balance: $3000
Withdrawal of $270 successful.
Account Number: 7777
Account Holder Name: Noble
Balance: $2730
Bank fees of 5% applied. $136.5 deducted from the account.
Account Number: 7777
Account Holder Name: Noble
Balance: $2593.5