In [2]:
#1. Write a program to find sum of all elements in a list of integers.
list=[7,77,777,7777]
tot=sum(list)
tot

8638

In [4]:
#2. Input a sentence as a string.
#a) Print its length
#b) Print the first half of string
sen=input("Enter a sentence:")
print("Length is:", len(sen))

half = sen[:len(sen)//2]
print("First half is:", half)

Enter a sentence:JESUS IS LORD
Length is: 13
First half is: JESUS

In [6]:
#3. Write a program to enter a tuple of integers as(78,45,32,19,82,77,40,39). Change the third value in the tuple to10

ANS: Tuple is immutable

In [7]:
#4. Consider a list listA=[19,32,10,55,31,32,94,29,10,65,77,40,40]

In [65]:
items= [19, 32, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]

# (a) Delete the first occurrence of 32
items.remove(32)
items

[19, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]

In [66]:
# (b) Delete all occurrences of 40

items.remove(items[10])and(items[11])
items

[19, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40]

In [67]:
# (c) Delete the value at index=5
items.remove(items[5])
items

[19, 10, 55, 31, 32, 29, 10, 65, 77, 40]

In [68]:
# (d) Modify the value at index=9 as 300
items[9] = 300
items

[19, 10, 55, 31, 32, 29, 10, 65, 77, 300]

In [69]:
# (e) Add 200 at index=2
items.insert(2, 200)
items

[19, 10, 200, 55, 31, 32, 29, 10, 65, 77, 300]

In [70]:
# (f) Print the final list with its length, maximum value, and sum of all elements
print("items:", items)
print("Length:", len(items))
print("Max value:", max(items))
print("Sum :", sum(items))

items: [19, 10, 200, 55, 31, 32, 29, 10, 65, 77, 300]
Length: 11
Max value: 300
Sum : 828

In [55]:
#5. Consider a string ”The day has been long”
# (a) Delete the value at index = 4
str= "The day has been long"
str = str[:4] + str[5:]
str

'The ay has been long'

In [58]:
# (b) Print the string 4 times in a single line with space between each repetition
print((str+ ' ') * 4)

The ay has been long The ay has been long The ay has been long The ay has been long

In [60]:
# (c) Print the string 3 times in a new line each time
print((str + '\n') * 3)

The ay has been long
The ay has been long
The ay has been long

In [62]:
# (d) Modify the string at index 7 as 'A'
str = str[:7] + 'A' + str[8:]
str

'The ay Aas been long'

In [63]:
# (e) Print the string from index 4 to 15
print( str[4:16])

ay Aas been

In [64]:
# (f) Print the final string with its length
print("Final string:", str)
print("Length of the string:", len(str))

Final string: The ay Aas been long
Length of the string: 20